

body
{
    background-color: #ebebeb;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

@media screen and (min-width: 178px) { 
    body{
        background-color:#ebebeb;
    }
  
   nav ul{
       list-style: none;
       margin-top: 10px;
       padding: 0;
   }
   nav ul li {
       margin-left: 10px;
       margin-right: 10px;
       padding: 5px;
       width: 10%;
   }
    .navbar-brand {
       width: 400px;
   }
    #HEADSHOT{
       width: 400px;
   }
     
}

@media screen and (min-width: 478px) { 
    body{
        background-color:#ebebeb;
    }
  
   nav ul{
       list-style: none;
       margin-top: 10px;
       padding: 0;
   }
   nav ul li {
       margin-left: 10px;
       margin-right: 10px;
       padding: 5px;
       width: 15%;
   }
    .navbar-brand {
       width: 450px;
   }
    #HEADSHOT{
       width: 400px;
   }
     
}

@media screen and (min-width: 640px) { 
    body{
        background-color: #ebebeb;
    }
    nav ul{
        list-style: none;
        margin-top: 10px;
        padding: 0;
    }
    nav ul li {
        margin-left: 10px;
        margin-right: 10px;
        padding: 5px;
        width: 15%;
    }
.navbar-brand {
            width: 535px;
        }
#HEADSHOT{
            width: 400px;
        }
        
   
}


@media screen and (min-width: 768px) { 
    body{
        background-color: #ebebeb;
    }
    .navbar-brand {
        width: 200px;
    }
    #HEADSHOT{
        width: 250px;
    }
    
}
@media screen and (min-width: 980px) { 
    body{
        background-color: #ebebeb;
    }
    .mainArea{
        width: 768px;
    }
    .navbar-brand {
        width: 200px;
    }
    #HEADSHOT{
        width: 250px;
    }
    
   

}


.navbar
{
   background-color: #ffffff;
   border-bottom: 2px solid lightgrey;
}

.navbar-brand
{
    background-color: #4eeee5;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: -8px;

}


h4
{
    color: #ffffff;
    font-size: 25px;
    font-family: serif;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li
{
    display:inline;
}

li a {
    
    color: #777777;
    font-size: 15px;
    
}




.mainArea
{
    background-color: #ffffff;
    padding: 50px;
    margin-top: 40px;
}

h5
{
    color: #4eeee5;
    font-family: serif;
    font-size: 25px;
}    
   

hr{
    border: 2px solid #ebebeb;

}

#HEADSHOT
{
       float: left; 
       margin-top: 15px;
       margin-right: 25px;
       margin-bottom: 5px;
}

.img-responsive{
    position:relative;
    margin-bottom: 30px;
    width: 100%;
  }
  
.img-title{
    position: absolute;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    left: 0;
    right: 0;
    bottom: 10%;
    background-color: #4eeee5;
    width: 100%;
    height: 40px;
  }


p
{
    line-height: 40px;
}

.btn
{
    background-color: #4eeee5;
}

.footer
{
    background-color: #666666;
    border-top: 8px solid #4eeee5;
    text-align: center;
    padding: 20px;
    color: #ebebeb;
    clear: both;
    position: relative;
    bottom: -90px;
    overflow: auto;
 }